.wrapper {
  background-color: #fefefe;
  width: 250px;
  height: auto;
  padding: 12px;
  position: absolute;
  left: 20px;
  top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.title {
  text-transform: uppercase;
  font-size: 14px;
}

.options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.option {
  margin: 8px 0;
}

.option > label {
  text-transform: capitalize;
  padding-left: 6px;
}
